*{
    background-color: blue;
}
/* .abutton{
    position: absolute;
    top:50%;
    right: 50%;
    background-color: white;
    padding: 15px 50px;
}
p{
    position: absolute;
    top: 40%;
    right: 50%;
    color: white;
} */
/* code for counter program starts here and ends on line 44
.counter{
    position: absolute;
    top: 30%;
    right: 40%;
}
label{
    font-size: 100px;
    margin-left: 255px;
    color: white;
}
.counter button{
    padding: 20px 40px;
    margin: 20px 20px;
    color: white;
}
.dec:hover{
    background-color: white;
    color: black;
}
.res:hover{
    background-color: yellow;
    color: black;
}
.inc:hover{
    background-color: rgb(255, 0, 43);
    color: black;
} */
.roll{
    padding: 10px 50px;
    background-color: white;
}
.text{
    font-size: 60px;
    margin-left: 30px;
}